*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header-section{
    background-image: url(https://placehold.co/1920x1080);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.custom-header h1{
    font-size: 4rem;
    color: green;
    margin-bottom: 20px;
}

.custom-header p{
    font-size: 2rem;
    margin-bottom: 30px;
}

.btn-custom{
    background-color: #F85606;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    color: black;
    transition:background-color 0.5s ease ;
    text-transform: capitalize;
}

.btn-custom:hover{
    background-color: green;
    color: white;
}

.Full-section h2{
    margin: 40px;
    text-align: center;
    font-weight: 600;
}


.Box-Setup{
    background-color: gray;
    padding: 50px 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 25px 40px -8px;
    transition: transform 0.5s ease;
}

.Box-Setup:hover{
    transform: translateX(10px);
}

.Full-section img{
    margin-bottom: 20px;
    width: 70px;
    
}

.Full-section h5{
    font-weight: 700;
    font-size: 1.5rem;
    
}

.Full-section p{
    color: white;

}