*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}
.header-section{
    background-image: url(https://placehold.co/1920x1080);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: "Roboto";
      
}

.custom-header h1{
    font-size: 4rem;
    color: green;
    margin-bottom: 20px;
}

.custom-header p{
    font-size: 2rem;
    margin-bottom: 30px;
}

.btn-custom{
    background-color: #F85606;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    color: black;
    transition:background-color 0.5s ease ;
    text-transform: capitalize;
}

.btn-custom:hover{
    background-color: green;
    color: white;
}

.Full-section h2{
    margin: 40px;
    text-align: center;
    font-weight: 600;
}


.Box-Setup{
    background-color: gray;
    padding: 50px 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 25px 40px -8px;
    transition: transform 0.5s ease;
}

.Box-Setup:hover{
    transform: translateX(10px);
}

.Full-section img{
    margin-bottom: 20px;
    width: 70px;
    
}

.Full-section h5{
    font-weight: 700;
    font-size: 1.5rem;
    
}

.Full-section p{
    color: white;

}

.testomonian-Section{
    background-color: #BBD6FD;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.testomonian-Section h2{
    font-weight: 600;
    margin-bottom: 50px;
}

.testomonian-box{
    background-color: #1E555C;
    padding: 25px 0px;
    margin-bottom: 20px;
    width: 410px;
    border-radius: 10px;
    box-shadow: 20px -15px 30px -3px rgb(59, 41, 41);
    transition: transform 0.5s ease; ;
}

.testomonian-box:hover{
    transform: translatey(10px);
}

.testomonian-box h5{
    color: azure;
    margin: 18px;
    font-family: initial;
    font-weight: 800;
}

.testomonian-box p{
    color: azure;
}
.testomonian-box img{
    border-radius: 50%;
}

.checkout-fix{
    margin-top: 29px;
    margin-left: 565px;
    margin-bottom: 30px;
}




.checkout-from{
    max-width: 600px;
    margin: auto;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 27px -4px 11px 0px rgb(82, 72, 72);
}

.checkout-from .custom-input{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}
 .btn-custom{
    width: 100%;
    background-color: #F85606;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
}
.icon-edit{
    font-size: 25px;
    transition: color 0.5s ease;

    
}

.icon-edit .fb{
    color: #0866FF;
}

.icon-edit .wp{
    color: #25D366;
}

.icon-edit .ins{
    color: #FC01C0;
}
.icon-edit .tw{
    color: black;
}

.icon-edit a:hover{
    color: azure;
}









.footer{
    padding: 60px 0px;
    background-color: rgb(46, 42, 42);
    margin-top: 20px;
}
.footer-content{
    margin-left: 550px;
}

.logo-edit{
    padding-bottom: 20px;
}